[submodule "lib/process-input"]
	path = lib/process-input
	url = git://gist.github.com/1083108
[submodule "lib/node-color-console"]
	path = lib/node-color-console
	url = git://gist.github.com/1127679
