[submodule "node_modules/process-input"]
	path = node_modules/process-input
	url = git://gist.github.com/1083108
[submodule "node_modules/node-color-console"]
	path = node_modules/node-color-console
	url = git://gist.github.com/1127679
